@import "../../../palette.scss";

.quantityCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  padding-bottom: 250px;
}

.quantityBtn,
.quantityBtn:focus {
  width: 66px;
  height: 66px;
  border-radius: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  outline: none;
  border: 1px solid $primary;
  font-size: 25px;
  color: $secondary;
}

.quantity {
  margin: 20px;
  width: 20px;
  text-align: center;
  font-size: 19px;
}

.addToOrderBtn,
.addToOrderBtn:focus {
  height: 62px;
  outline: none;
  border: none;
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

// toast styles
.Toastify__toast-container {
  .Toastify__toast {
    background-color: $primary;
    font-size: 18px;
  }
}
