// sass variables
$red: #fc4250;
$black: #000;
$blue: #6189ea;
$sectionColor: #373737;
$titleColor: #494949;
$bodyColor: #6f6f6f;
$cardColor: #FAFAFA;
$maxWidth: 500px;
$grey: #f7f7f7;
$hopscotch: #70d3c7;
$hsdark: #282828;

