// sass variables
$mryumRed: #fc4250;
$black: #000;
$mryumBlue: #6189ea;
$primary: #fc4250;
$secondary: #051331;
$accentDark: #3c4653;
$sectionFontColor: #373737;
$titleFontColor: #494949;
$bodyFontColor: #6f6f6f;
$cardColor: #f8f8f8;
$maxWidth: 500px;
$grey: #f7f7f7;
$white: #ffffff;
